body {
    font-family: 'Verdana', sans-serif;
    font-size: 1rem;
    line-height: 1;
}

header {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 2rem;
    background: linear-gradient(to right, cornflowerblue 0%, #4111dd 100%);
}

h4 {
    margin: 10px;
}

ul {
    list-style-type: none;
    border-top: 3px solid black;
    margin-top: 5px;
  }

textarea {
    background: transparent;
    border: 1px solid black;
    font-size: 1.2rem;
    resize: none;
    color: #000000;
    padding-top: 5px;
    margin: 0px;
    padding-left: 5px;
    margin-bottom: 15px;
}
  
.row {
    /* white-space: pre-wrap;  */
    display: flex;
}

.btnSearch {
	background-color:cornflowerblue;
	border-radius:5px;
	border:1px solid rgb(71, 127, 233);
	display:inline-block;
	cursor:pointer;
	color:white;
	font-size: 1.2rem;
	padding: 15px;
	text-decoration: none;
    margin: 10px;
    width: 100%;
    align-self: center;
}
.btnSearch:hover {
	background-color:lightblue;
}
.btnSearch:active {
	position:relative;
	top:1px;
}

#selectedCity {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    color: black;
    font-size: 1.3rem;
    margin-bottom: 30px;
}

#selectedCity img {
    width:"80";
}

#prevCityList li:hover {
    background-color: lightcyan;
    font-weight: bolder;
}

#dailyForecasts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#dailyForecasts p {
    margin-left: 10px;
    padding: 0px;
}

.card {
    /* max-width: 18%;  */
    margin-bottom: 30px;
    background-color: midnightblue;
    color: white;
}

.card-text p {
    margin-left: 15px;
    padding: 0px;
}

.card-body {
    padding-bottom: 10px;
    padding-left: 2px;
}

.card-title h5 {
    margin-left: 15px;
    font-size: .8 rem;
    margin-bottom: 0px;
    margin-top: 15px;
}

.col-3 {
    font-size: 1.2rem;
    white-space: normal;
}

.col-3 li {
    margin-top: 10px;
    list-style: none;
    font-size: 1.2rem;
}

.searchBox {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
  
.col-9 {
    font-size: 1rem;
}

.small-title {
    height: 20px;
    width: 100%;
} 

#uvi {
    padding-top:5px;
    padding-bottom:5px;
    max-width: 25%;
}

.footer {
    height: 30px;
}